
.main-table-container {
    background: rgba(0, 0, 0, 0.859);
    border-radius: 2rem;
    display: grid;
    margin: auto;
    padding: 0.2rem 5rem;
    place-items: center;
    text-align: center;
    width: 70%;
}